* :root {
    --NavColor: #ffb21d;
    --NavDisplay: #600796;
    --NavLetter: #110024;
    --NavActiveLetter: white;
    --NavHoverLetter: #ff00b3;
    --BackgroundGradiaent: linear-gradient(#110024, #0d0b7f)
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  main {
    flex: 1;
  }
  
  /* Ajustes opcionales para el logo */
  .footer-logo {
    max-width: 150px;
    height: auto;
  }
  
footer {
    background-color: var(--NavLetter)
}
