#carouselExampleCaptions{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.carousel-inner{
    height: 100%;
}

.carousel-inner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
